@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 218, 80%, 2%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 208, 35%, 93%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --success: 132 59% 33%;
    --success-foreground: 210 40% 98%;

    --cta: 239 84% 67%;
    --cta-foreground: 210 40% 98%;

    /* --default: 216 28% 7%; */
    --default: #e6edf3;
    --default-foreground: 222.2 84% 4.9%;

    --overlay: 215 21% 11%;
    --inset: 218 80% 2%;
    --subtle: 212 8% 47%;
    --border-input: 215 15% 15%;
    --border-card: 212 12% 21%;
    --input: 215 15% 15%;
    --subtle-hover: 212 14% 19%;
    --ring: 222.2 84% 4.9%;
    --skeleton: 216 28% 7%;
    --icon: 212 8% 55%;
    --blue: 215 93% 58%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
